body {
    min-width: 100%;
    min-height: 100%;
    background-color: #021691;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: none;
}

.topbar {
  background-color: #333;
  overflow: hidden;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.topbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

.topbar a:hover {
  background-color: #575757;
}

#chart {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    min-height: 600px;
    min-width: 960px;
}

.county:hover {
    fill: black;
    opacity: 0.5;
}

#tooltip {
    position: absolute;
    height: auto;
    width: auto;
    padding: 2px;
    background-color: steelblue;
    font-size: 24px;
    z-index: 10;
}

#container {
    display: block;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
}

#legend{
    position: absolute;
    background-color: grey;
    font-size: 20px;
    text-align: center;
    min-height: 200px;
    max-width: 160px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 4px;
    border-radius: 5px;
}

#title{
    font-size: 32px;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}



