body {
    min-width: 100%;
    min-height: 100%;
    background-color: #021691;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: none;
}


#tooltip {
  position: absolute;
  background-color: yellow;
  width: auto;
  height: auto;
}

#legend {
  position: absolute;
  margin-left: 1000px;
  margin-top: 80px;
  width: 200px;
  padding: 2px;
  height: 900px;
}

#tile-text {
  font-size: 8px;
  fill: black;
}